@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
  box-sizing: border-box;
}


body {
  background: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0px 0px;
  padding: 0px 0px;
  background-image: url("../imgs/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
}

numbering {
  color: white;
  background-color: #1a5154;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

t {
  font-size: 14px;
}

tb {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}


vl {
  border-left: 1px solid black;
  height: 100%;
}

form {
  animation-name: appear;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

textarea {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  border-radius: 10px;
}

.leftSection {
  display: grid;
  grid-template-rows: 280px 1fr;
  margin: 0 18px;
}

.my-search-bar {
  width: 500px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  flex:1;
  align-items:center;
}

.my-search-button{
  width: 100px;
  background-color:#1a5154;
  border-radius:10px;
  color:white;
  border-radius:0 10px 10px 0;
}

.my-search-input {
  background-color:white;
  border-radius:10px 0 0 10px;
  padding:2% 0 2% 15px;
  width:300px;
}

.category-title {
  font-size: 25px;
  text-align: left;
  padding-left: 4px;
}

.dot {
  border-top: 5px dashed #1a5154;
  float: left;
  width: 90%;
}

.stepout {
  margin: 5px 5px;
  width: 75px;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  flex-direction: row;
  flex: 3;
  border-color: #1a5154;
  border-style: none none solid none;
  border-width: 1px;
}

.column-text {
  flex: 5;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.edit {
  margin: 8px 5px 0px 0px;
  justify-self: end;
  margin-right: 12px;
}

.edit-img {
  height: 30px;
  width: 30px;
}

.edit-img:active{
  height: 27px;
  width: 27px;
}

.status {
  box-shadow: 0px 3px 3px;
  height: 98px;
  width: 280px;
  margin-top: 10px;
  border-radius: 15px;
}

.status-name {
  width: 280px;
  height: 40px;
  border-radius: 15px 15px 0px 0px;
  background-color: #a7a7a7;
  color: white;
  text-align: right;
  padding-right: 30px;
  padding-top: 10px;
  position: absolute;
  transition: background-color 0.3s;
}

.status-desc {
  color: black;
  width: 140px;
  height: auto;
  position: absolute;
  text-align: center;
  margin: 44px 122px;
}

.status-reason {
  display: grid;
  grid-template-rows: 30px 1fr;
  margin: 20px 0px 0px 20px;
  width: 95%;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.status-title {
  font-size: 20px;
  font-weight: bold;
}

.status-img {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 5px;
  filter: grayscale(100%);
  transition:filter 0.5s;
}

.color {
  filter:grayscale(0%);
}

.statusTrio {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr 4fr;
  margin-top: 5px;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.status-select:hover{
  cursor:pointer;
}

.s1 {
  margin-left: 20px;
}

.s2 {
  margin-left: 20px;
}

.save {
  border-radius: 10px;
  border: 1px solid #1a5154;
  background-color: #1a5154;
  color: #FFFFFF;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  transition: transform 80ms ease-in;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: black;
  font-family: 'Inter';
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  width: 700px;
  height: 70px;
  background-color: #fff;
  border-radius: 20px;
  transform: scale(0.6);
}

form {
  height: 100%;
}

.top-search {
  width: 100%;
  height: 70px;
  font-size: 30px;
  margin-left: 8px;
  color: black;
}

input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="text"]::placeholder {
  color: #b3b3b3;
}

#s-cover {
  width: 30px;
  padding: 0px;
}

button {
  position: relative;
  display: block;
  width: 30px;
  height: 36px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -9px;
  left: 12px;
  width: 30px;
  height: 30px;
  margin-top: 0;
  border-width: 6px;
  border: 5px solid #1a5154;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 20px;
  height: 5px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 35px;
  width: 30px;
  height: 6px;
  background-color: #1a5154;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 40px;
  height: 8px;
  border-width: 0;
  background-color: #1a5154;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 53px;
  width: 25px;
  margin-top: -3px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: 11px;
  width: 40px;
  background-color: #1a5154;
}


.container {
  border-radius: 15px;
  border-style: solid;
  border-color: #1a5154;
  border-width: 1px;
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: -4px;
  margin-bottom: 2px;
  overflow: hidden;
}

.document-container {
  margin: 2px 0px 0px 15px;
  justify-content: center;
  flex-grow: 1;
}

.document {
  background-color: #1a51540F;
  color: black;
  border-radius: 10px;
  width: 250px;
  height: 80px;
  margin-top: 15px;
  flex-grow: 1;
  font-size: 17px;
}

.document:hover {
  background-color:#1a5154;
  color:white;
  transition: all 0.3s ease;
}

.basic-details {
  margin: 20px 0px 0px 15px;
  display: grid;
  grid-template-rows: 55px 20px 20px 1fr 1fr;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.details-title {
  font-size: 25px;
  text-decoration: underline;
  margin: 15px 0px 0px 0px;
}

.details-container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  font-size: 17px;
  margin-top: 30px;
}

.details-form {
  border: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: #1a5154;
  font-size: 17px;
  margin-right: 30px;
  height: 60px;
  margin-top: 5px;
}

.details-input {
  font-size: 17px;
  height: 100%;
  width: 100%;
  color: black;
  margin-left: 10px;
}

.low-button {
  display: flex;
  justify-content: end;
  margin-top: 100px;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  padding-left: 0px;
}

.categories-border {
  border-right-style: solid;
  border-width: 1px;
  border-color: #1a5154;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.container-header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-bottom: 5px;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.category-search {
  font-size: 20px;
  height: 20px;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.search-form {
  width: 85%;
  margin-left: 20px;
}

.search {
  width: 28px;
  height: 28px;
  margin: 9px 0 0 0px;
}

.category {
  display: flex;
  flex-direction: row;
  flex: 1fr 5fr;
  height: 100%;
  width: 383px;
  align-items: center;
  border-top-style: solid;
  border-color: #1a5154;
  border-width: 0.8px;
  margin-left: -12px;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.general {
  animation-delay: 0.1s;
}

.legs {
  animation-delay: 0.2s;
}

.hands {
  animation-delay: 0.3s;
}

.stomach {
  animation-delay: 0.4s;
}

.chest {
  animation-delay: 0.5s;
}

.eyes {
  animation-delay: 0.6s;
}


@keyframes categorySlide {
  from {
    margin-left: -395px;
  }

  to {
    margin-left: -12px;
  }
}

.category img {
  height: 40px;
  width: 40px;
  margin: 0px 15px;
}

.symptoms-container {
  display: grid;
  grid-template-rows: 3fr 17fr;
}

.button:active {
  transform: scale(0.95);
}

#toggle {
  display: none;
}

/* Style the toggle switch */
.toggle-switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  position: relative;
  background-color: #1a5154;
}

/* Style the toggle switch thumb */
.toggle-switch::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: #1a5154;
  border-radius: 50%;
  transition: all 0.3s;
}

/* Style the toggle switch when it's checked */
#toggle:checked+.toggle-switch::after {
  transform: translateX(26px);
}

.form-check-input:checked {
  background-color: #1a5154;
  border-color: #1a5154;
}

.form-switch .form-check-input {
  width: 45px;
  height: 22px;
}

.form-check-label {
  font-size: 18px;
  margin: 6px 0px 0px 15px;
}

.form-check {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.symptoms-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  margin: 10px 10px 0px 0px;
}

.update {
  width: 230px;
  height: 70px;
  margin-top: 140px;
}

.update-status {
  margin: 10px 0 0 900px;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.add {
  width: 230px;
  height: 70px;
  background-color: #FF7B1B;
}

.scale {
  position: absolute;
  display: none;
  height: 310px;
  width: 770px;
  align-content: center;
  justify-content: center;
}

.scale-pic {
  height: 130px;
  width: auto;
}

.scale-numbers {
  margin-top: 20px;
}

.point {
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 25px solid #1a5154;
  float: right;
}

.rating-scale {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -10px;
}

.arrow {
  width: 80%;
  margin: 50px 0px 0px 40px;
}

.scale-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7px;
}

.button {
  float: left;
  margin: 10px 10px;
  width: 45px;
  height: 45px;
  position: relative;
}

.button label,
.button input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  border-color: black;
}

.button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.button input[type="radio"]:checked+label {
  background: #1a5154;
  color: white;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.button label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}

.input[type="checkbox"] {
  accent-color: #1a5154;
}

.statusContainer {
  display: grid;
  grid-template-rows: 2fr 3fr 3fr 2fr;
  width: 100%;
}

.statusHeader {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.exit {
  position: absolute;
  right: 0;
  font-size: 30px;
  color: white;
  background: red;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  margin: 20px 50px 0 0;
}

.statusTitle {
  background: red;
  color: white;
  font-size: 30px;
  padding: 15px;
}

.review-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  width: 100%;
}

.review-table {
  text-align: center;
  margin: 20px 0 0 50px;
  font-size: 25px;
  font-weight: bold;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 70px;
  font-weight: bold;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.error-img {
  width: 250px;
  height: 250px;
  margin-left: 30px;
}

table {
  height: 80%;
  margin: 10px 0 0 0px;
  font: "inter";
  animation-name: appear;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

td {
  white-space: pre-wrap;
}

thead {
  background: #1a5154;
  color: white;
  font-size: 20px;
  text-align: center;
}

tbody {
  font-size: 15px;
  background: fff;
}

.tableHeader {
  width: 400px;
}

.table>:not(caption)>*>* {
  padding: 25px 20px;
}

.review-buttons {
  position: relative;
  width: 95%;
  padding-top: 25px;
  padding-left: 55px;
  background: #1a5154;
  animation-name: slideleft;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.review-img {
  width: 250px;
  height: 250px;
}

@keyframes slideleft {
  from {
    right: -410px;
  }

  to {
    right: -52px;
  }
}

.submit {
  height: 70px;
  width: 250px;
  margin-top: 10px;
  color: black;
  background: white;
}

.loading-container {
  margin-top: 30px;
  display: grid;
  width: 100%;
  justify-content: center;
}

.loading-line {
  border-width: 3px;
  margin: 0px;
  padding: 0;
  width: 100%
}

.updated-container {
  display: grid;
  grid-template-rows: 1fr 3fr 4fr;
  width: 100%;
}

.updated-header {
  font-size: 30px;
  font-weight: bolder;
}

.updated-status {
  background: #FF7B1B;
  margin: 0px 0px 0px -12px;
  width: 102%;
  padding-top: 45px;
  padding-left: 400px;
  color: white;
  font-size: 80px;
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.updated-img {
  position: absolute;
  margin: 80px 0 0 80px;
  height: 350px;
  width: 350px;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.updated-body {
  margin: 40px 0 0 420px;
  display: grid;
  justify-content: center;
}

.desc {
  font-size: 20px;
  color: black;
  background: white;
  padding: 0;
  width: 462px;
  margin-bottom: -30px;
}

.edit-status {
  font-size: 30px;
  width: 100%;
  height: 90px;
  background: white;
  color: black;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.edit-status:hover {
  transition: 0.3s;
  background: #FF7B1B;
  color: white;
}

.outlying:hover {
  background: #FF7B1B;
}

.hospitalized:hover {
  background: #7B1BFF;
}

.recovered:hover {
  background: #00BF8F;
}



@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes slideIn {
  from {
    margin-left: -1204px;
  }

  to {
    margin-left: -12px;
  }
}

.statusUpdatedContainer {
  grid-template-rows: 300px 1fr;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

.chartBackground {
  position: absolute;
  display:none;
  background-color:#000000AA;
  padding:5% 25%;
  width:100%;
  height:100%;
  z-index:2;
}

.chartContainer {
  background-color:white;
  height:100%;
  width:100%;
  overflow:scroll;
}

.chart {
  display:none;
  max-width:100%;
  min-width:100%;
}
